html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#map-app,
.annoying-react-wrap,
.leaflet-container {
  height: 100%;
  width: 100%;
}

.notification.overlay {
  z-index: 10000;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: hsla(0, 0%, 30%, 0.7);
  -webkit-animation: fadein 1s ease-in;  /* fadein comes from index.html */
       -o-animation: fadein 1s ease-in;
          animation: fadein 1s ease-in;
}

.notification .content-wrap {
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0 0 16px black;
}

.notification header {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  background: hsla(220, 40%, 35%, 0.6);
}

.notification header button {
  margin-left: 20px;
  padding: 0;
  width: 1.1em;
  font-size: 1.618em;
  color: #999;
  background: none;
}

.notification header button:hover {
  color: white;
  background: hsla(220, 30%, 10%, 0.2);
}

.notification .body {
  background: hsla(220, 40%, 86%, 0.75);
}


.notification header,
.notification .body {
  padding: 10px 16px;
}


h1 {
  margin: 0;
  font-size: 1.618em;
  font-weight: normal;
}


button {
  padding: 8px 14px;
  font-size: 1em;
  border: none;
  background: hsla(0, 0%, 40%, 0.2);
  cursor: pointer;
}
button:hover {
  background: hsla(0, 0%, 25%, 0.2);
}

button.ok {
  background: hsla(220, 30%, 40%, 0.2);
}
button.ok:hover {
  background: hsla(220, 30%, 25%, 0.2);
}


.leaflet-container {
  background: #444;
}

.leaflet-popup {
  color: #ccc;
}
.leaflet-popup-tip {
  background: #333;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
  background: #333;
}
.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup header,
.leaflet-popup .body {
  padding: 10px 16px;
}


.bridge-detail {
  display: flex;
  z-index: 10000;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  background: hsla(0, 0%, 16%, 0.75);
  justify-content: space-between;
}

.bridge-detail .detail {
  margin: 10px 16px;
}

.bridge-detail .detail.basic {
  /*max-width: 360px;*/
}

.bridge-detail .id {
  color: #999;
}

.bridge-detail h1 {
  margin: 8px 0;
}

.bridge-detail .status.open {
  color: greenyellow;
}
.bridge-detail .status.posted-load,
.bridge-detail .status.pedestrians-only {
  color: darkorange;
}
.bridge-detail .status.unknown {
  color: tomato;
}

.bridge-detail .span,
.bridge-detail .material {
  margin: 8px 0;
  font-size: 1.333em;
}

.bridge-detail .specific-type {
  color: #999;
}

.bridge-detail p {
  margin: 0;
}
